#timeBox {
    font-weight: bold;
    color: red;
    font-size: 30px;
}
#questionBox {
    font-weight: bold;
    font-size: 30px;
}
#ansBox {
    font-size: 30px;
}
button {
    background-color: green;
    border: none;
    padding: 5px;
    width: 380px;
    font-size: 20PX;
}
img {
    padding-left: 25%;

}